* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);

    &_box {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &_info {
        padding-top: 115px;
        flex-grow: 1;
        background-image: url(img/top_back.png);
        background-repeat: no-repeat;
        background-position: right center; 
        background-size: 50%;
    }
    
    &_heading {
        width: 510px;
        font-size: 64px;
        color: #1F3F68;
        font-weight: 300;
        line-height: 74px;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
    } 

    &_text {
        width: 425px;
    }

    &_button {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #5A98D0;
        box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
        padding: 15px 50px;
        text-decoration: none;
        display: inline-block;
        margin-top: 71px;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-top: 42px;
    }
    
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
} 

.text_project {
    text-align: center;
    color: #222222;
    opacity: 1;
    width: 75%;
    margin: 32px auto 64px;
}

.what-we-do {
    padding-top: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card_box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-top: 28px;
}

.card_link:hover {
    text-decoration: underline;
}

.card_text {
    margin-top: 14px;
}

.card-2 {
    padding-top: 0;
}

.card_img {
    align-self: center;
    margin-bottom: 51px;
}

.card_img-2 {
    margin-bottom: 45px;
}

.project {
    padding-top: 64px;

    &_parent {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
    }

    &_item {
        position: relative;
        flex-grow: 1;
    }
    
    &_item_margin {
        margin-right: 32px;
    }
    
    &_img {
        width: 100%;
    }
    
    &_text {
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        position: absolute;
        top: 64px;
        right: 64px;
        text-align: right;
    }
    
    &_text_other {
        font-size: 28px;
        right: auto;
        top: 32px;
        left: 32px;
        text-align: left;
    }
    
}

.heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
}

.heading-mini_contacts {
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.heading-mini_other {
    margin-bottom: 15px;
}

.main {
    display: flex;
    padding-top: 57px;
    padding-bottom: 96px;
    justify-content: space-between;

    .contacts-info {
        width: 301px;
        align-self: center;
    }

    .contacts_img {
        margin-bottom: 56px;
    }

    .contacts_block {
        margin-bottom: 40px;
    }

    .contacts_link {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        text-decoration: none;
        opacity: 0.6;
    }

    .contacts_block:last-child {
        margin-bottom: 0;
    }
    
    .contacts-info_text {
        font-weight: 300;
        letter-spacing: 0.04em;
    }
    
    .phone,
    .email {
        list-style-type: none;
    }

    .form {
        width: 540px;
        background: #FFFFFF;
        box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 56px;
        box-sizing: border-box;
    }
    
    .label {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        opacity: 0.8;
    }
    
    .input {
        border: 1px solid #356EAD;
        box-sizing: border-box;
        border-radius: 10px;
        opacity: 0.4;
        width: 428px;
        padding: 21px 36px;
        margin-bottom: 32px;
        margin-top: 8px;
    }
    
    .message {
        margin-bottom: 72px;
    }
    
    .textarea {
        margin-bottom: 0;
    }
    
    .submit {
        background: #5A98D0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        width: 100%;
        padding-top: 23px;
        padding-bottom: 23px;
    }
}

.header_menu_contacts {
    margin-bottom: 47px;
    padding-top: 37px;

    .contact_header {
        background-image: url(img/bg-contacts.jpg);
        background-repeat: no-repeat;
        padding-top: 51px;
        padding-bottom: 49px;
        background-size: cover;
    }
    
    .contact_header_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contacts_heading {
        font-weight: 500;
        font-size: 44px;
        line-height: 74px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding-bottom: 16px;
    }
    
    .contact_header_text {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
        width: 780px;
    }
    
}

.footer {
    background: #316099;
    margin-top: 112px;
    padding-top: 91px;
    
    &_top {
        padding-bottom: 96px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &_block {
        width: 495px;
    }
    
    &_text {
        color: #FFFFFF;
    }
    
    &_heading {
        width: 340px;
        color: #FFFFFF;
        margin-bottom: 32px;
        text-align: left;
    }
    
    &_button {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        text-decoration: none;
        background: #5A98D0;
        padding: 15px 80px;
    }
    
    &_info {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    
    &_info_item {
        flex-grow: 1;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        display: flex;
        flex-basis: 33.3333%;
        margin-right: 32px;
    }
    
    &_info_item:first-child::before {
        content: 'A.';
        display: block;
        margin-right: 19px;
        
    }
    
    &_info_item:nth-child(2)::before {
        content: 'T.';
        display: block;
        margin-right: 19px;
    }
    
    &_info_item:last-child::before {
        content: 'E';
        display: block;
        margin-right: 19px;
    }

    &_bottom {
        padding-bottom: 64px;
    }
    
    &_bottom_text {
    max-width: 316px;
    }

    .copy_text {
        color: #FFFFFF;
        opacity: 0.4;
    }
    
}

.line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

@media (max-width: 1024px) {
.container {
    padding-left: 32px;
    padding-right: 32px;
}

.footer-container {
    padding-left: 124px;
    padding-right: 124px;
}

.contact_header_text {
    width: 520px;
}

.contact_header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header_menu_contacts {
   margin: 10px 0 41px;
   padding-top: 0;
}

.contact_img {
    margin-bottom: 64px;
}
.top_info {
    background-position: right 150px; 
} 

.main {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
}

.input {
    width: 412px;
}
.form {
    align-self: center;
    margin-top: 64px;
}

.heading_mini_form {
    width: 178px;
    align-self: start;
}
.card_box {
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 32px;
}

.project_text_other {
    top: 19px;
    left: 19px;
}

.footer {
    padding-top: 47px;
}

.footer_top {
    padding-bottom: 64px;
}

.footer_contacts {
    margin-top: 64px;
}

.footer_info {
    flex-direction: column;
}

.footer_info_item {
    padding-bottom: 25px;
}

.footer_info_item:last-child {
    padding-bottom: 0;
}

.footer_block {
    width: 336px;
}

.footer_button {
    padding: 4px 31px;
}
}

@media (max-width: 667px) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .contact_header {
        padding-top: 48px;
        padding-bottom: 61px;
    }

    .header_menu_contacts {
        margin: 10px 0 25px;
    }
    
    .heading_mini_form {
        width: 100%;
    }
    .contact_header_text {
        width: 100%;
    }

    .contacts_heading {
        padding-bottom: 32px;
    }

    .main {
        padding-top: 46px;
        padding-bottom: 32px;
    }

    .contacts_block {
        margin-bottom: 32px;
    }

    .top_info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top_heading {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
        width: 100%;
    }

    .top_text {
        width: 100%;
        text-align: center;
    }

    .top_button {
        font-size: 12px;
        padding: 0 8px;
        margin-top: 32px;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .form {
        width: 100%;
        padding: 35px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .input {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .textarea {
        margin-bottom: 0;
    }


    .message {
        margin-bottom: 46px;
    }

    

    .submit {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .card_box {
        padding-top: 32px;
    }

    .card {
        width: 100%;
    }

    .text_project {
        width: 100%;
    }

    .project_text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project_text_other {
        left: 16px;
    }

    .project_parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    
    .footer {
        margin-top: 64px;
        padding-top: 18px;
    }

    .footer_contacts {
        margin-top: 32px;
    }

    .footer_top {
        flex-direction: column;
        padding-bottom: 40px;
        flex-wrap: wrap;
    }

    .footer_heading {
        text-align: center;
        width: 75%;
        margin: 0 auto 32px;
    }

    .footer_text {
        text-align: center;
       
    }

    .footer_block {
        margin-bottom: 40px;
        width: 100%;
    }

    .footer_button {
        padding: 4px 18px;
    }

    .footer_bottom {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 32px;
    }

    .footer_info {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .copy_text {
        text-align: center;
    }

    .footer_info_item {
        padding-bottom: 18px;
    }

    .footer_info_item:last-child {
        padding-bottom: 0;
    }

    .footer_info_item:first-child::before {
        content: '1.';
    }
    
    .footer_info_item:nth-child(2)::before {
        content: '2.';
    }
    
    .footer_info_item:last-child::before {
        content: '3.';
    }
}

